In [1]:
# Dependencies and Setup
import pandas as pd
import os
import csv

# File to Load (Remember to Change These)
file_to_load = os.path.join("May_2013_Online_Dating_CSV.csv")

# Read Purchasing File and store into Pandas data frame
dating_data = pd.read_csv(file_to_load)
dating_data.head()

,psraid,sample,lang,state,fips,cregion,usr,llitext,form,sex,...,modem4bos,q6os,smart2os,loc3os,rel3vb,date1bos,date2bos,raceos,weight,standwt
0,100006,1,1,5,5109,3,R,2,1,2,...,,,,,,,,,1.258065,0.397268
1,100017,1,1,17,17031,2,S,2,1,2,...,,,,,,,,,2.354839,0.743604
2,100025,1,1,34,34039,1,S,2,2,1,...,,,,,,,,,6.870968,2.169695
3,100027,1,1,26,26045,2,S,1,2,1,...,,,,,,,,,1.419355,0.448200
4,100028,1,1,45,45091,3,U,2,2,2,...,,,,,,,,,1.419355,0.448200